/* Footer.css */

/* Footer.css */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center; /* Center the content horizontally */
}
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .footer-info p {
    margin: 0;
  }
  
  